<h1 *ngIf="!this._activatedRoute.snapshot.params['id']">Create Incident</h1>
<h1 *ngIf="this._activatedRoute.snapshot.params['id']">Edit Incident</h1>

<form novalidate [formGroup]="form">

    <ce-tabs>
        <ce-tab-title>General</ce-tab-title>
        <ce-tab-content>
            <label>Name</label>
            <input type="text" placeholder="Name" id="name" formControlName="name" />
        </ce-tab-content>
    </ce-tabs>

    <button type="submit" (click)="tryToSave({ detail:{ incident: form.value } })">Save</button>

</form> 